/* src/components/Footer.css */
.footer-container {
    background-color: #333; /* Fondo oscuro para el pie de página */
    color: white;
    padding: 40px 20px;
    font-family: 'Arial', sans-serif;
}



.footer-section h4 {
    margin-bottom: 10px;
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
}

.footer-section p,
.footer-section li {
    font-size: 0.9rem;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    color: #ccc;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: white;
    font-size: 1.2rem;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #555;
    padding-top: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0; /* Agrega padding para mejorar el espaciado */
}

.footer-section {
    margin-bottom: 20px;
}
